.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1000px;
  width: 300px;
  align-content: flex-start;
  margin: auto;
}

.btn,
.display,
.clear {
  all: unset;
  width: 96px;
  height: 50px;
  background-color: #78a1bb;
  margin: 2px;
  text-align: center;
  transition: 0.2s;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: hsl(205deg 29% 47%);
}

.btn:active {
  background-color: white;
}

.clear {
  flex: 0 0 297px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1 100%;
  background-color: #283044;
  color: white;
  height: 65px;
  font-size: 40px;
  padding-right: 11px;
  border: 6px double #78a1bb;
}
